{% extends "base.html" %}

{% block title %}Technical Turbulence - Team{% endblock %}

{% block content %}

<body>
    <div class="contributors">
        <div class="team-info">
        <div class="stats-container" id="stats2">
            <h1 class="heading"><span class="emoji stats">Our stats</span></h1>
            <hr>
            
            <div class="stats-cards">
                <div class="stats-card">
                    <h1 class="stats-card-header">2</h1>
                    <p class="stats-card-info">year of robotics</p>
                </div>
                <div class="stats-card">
                    <h1 class="stats-card-header">2</h1>
                    <p class="stats-card-info">awards this season</p>
                </div>
                <div class="stats-card">
                    <h1 class="stats-card-header">7</h1>
                    <p class="stats-card-info">total awards won</p>
                </div>
                <div class="stats-card">
                    <h1 class="stats-card-header">9</h1>
                    <p class="stats-card-info">team members</p>
                </div>
            </div>

            <button class="stats-button" onclick="window.location.href = '{{ url_for('competitions') }}' ; ">View our log</button>
        </div>
        </div>
        <br>
        <h1 class="heading"><span class="emoji sponsors" id="team">Our mentor and coach</span></h1>
        <hr>
        <p class="info">❤️ meet our amazing coach and mentor! ❤️</p>
        <div class="members-container">
            <div class="member-card">
                <img class="member-image" src="{{ url_for('static', filename='images/default.jpg') }}">
                <h2 class="member-name">Mr. Kruger</h2>
                <p class="member-role">COACH / MENTOR</p>
            </div>
        </div>
        <h1 class="heading"><span class="emoji team" id="team">Our team</span></h1>
        <hr>      
        <p class="info">⭐ meet our amazing team! ⭐</p>

        <div class="members-container">

            <div class="member-card">
                <img class="member-image" src="{{ url_for('static', filename='images/default.jpg') }}">
                <h2 class="member-name">Samuel</h2>
                <p class="member-role">HARDWARE</p>
            </div>
            <div class="member-card">
                <img class="member-image" src="{{ url_for('static', filename='images/anish.png') }}">
                <h2 class="member-name">Anish</h2>
                <p class="member-role">HARDWARE</p>
            </div>
            <div class="member-card">
                <img class="member-image" src="{{ url_for('static', filename='images/default.jpg') }}">
                <h2 class="member-name">Daniel</h2>
                <p class="member-role">HARDWARE</p>
            </div>
            <div class="member-card">
                <img class="member-image" src="{{ url_for('static', filename='images/default.jpg') }}">
                <h2 class="member-name">Stephen</h2>
                <p class="member-role">HARDWARE</p>
            </div>
            <div class="member-card">
                <img class="member-image" src="{{ url_for('static', filename='images/new-keshav.png') }}">
                <h2 class="member-name">Keshav</h2>
                <p class="member-role">SOFTWARE</p>
            </div>
            <div class="member-card">
                <img class="member-image" src="{{ url_for('static', filename='images/sujay.png') }}">
                <h2 class="member-name">Sujay</h2>
                <p class="member-role">SOFTWARE</p>
            </div>
            <div class="member-card">
                <img class="member-image" src="{{ url_for('static', filename='images/abhi.png') }}">
                <h2 class="member-name">Abhiram</h2>
                <p class="member-role">SOFTWARE</p>
            </div>
            <div class="member-card">
                <img class="member-image" src="{{ url_for('static', filename='images/default.jpg') }}">
                <h2 class="member-name">Caitlin</h2>
                <p class="member-role">ALUMNI; HARDWARE</p>
            </div>
            <div class="member-card">
                <img class="member-image" src="{{ url_for('static', filename='images/default.jpg') }}">
                <h2 class="member-name">Krith</h2>
                <p class="member-role">OUTREACH</p>
            </div>

        </div>

    </div>
</body>

{% endblock %}