{% extends "base.html" %}

{% block title %}Technical Turbulence - Competition Log{% endblock %}

{% block content %}

<body>
    <div class="competitions">
        <div class="sidebar">
            <div class="sidebar-content">
            <a href="#2023">2023</a>
            <a href="#2024">2024</a>
            </div>
        </div>

        <div class="competitions-container">
            <div class="competitions-inner">
            <div class="header-container6">
                <h1 class="header2"><span class="emoji competitions">COMPETITION LOG</span></h1>
                <div class="line"></div>
            </div>   

            <h1 id="2023" class="competition-year">2023</h1>

            <div class="competition-card">
                <div class="competition-header">
                    <p class="competition-name">FiT-North F-League Meets (3)</p>
                    <p class="middle-dot">·</p>
                    <p class="competition-date">11/11/23 - 01/06/24</p>
                </div>

                <p class="competition-subtitle">Description</p>

                <p class="competition-description">Consisted of 3 qualification meets: FiT-North F-League Meet 1, FiT-North F-League Meet 2, and FiT-North F-League Meet 3.</p>

                <p class="competition-subtitle">Awards</p>

                <ul class="competition-awards">
                    <li>Accumulated 10 wins</li>
                </ul>
            </div>

            <div class="competition-card">
                <div class="competition-header">
                    <p class="competition-name">FiT-North E&F Tournament</p>
                    <p class="middle-dot">·</p>
                    <p class="competition-date">01/20/24</p>
                </div>

                <p class="competition-subtitle">Description</p>

                <p class="competition-description">We got 4 wins, and got Rank 3 out of 24 going into the playoffs. We were the 1st Team Selected by Rank 2 Team 13072. We had 2 wins in the Semi-Finals and 2 wins in the Finals. We won 3 awards and advanced straight to North Area Championship for Texas FiT Region.</p>

                <p class="competition-subtitle">Awards</p>

                <ul class="competition-awards">
                    <li>Design Award 3rd Place</li>
                    <li>Innovate Award sponsored by RTX 2nd Place</li>
                    <li>Winning Alliance - 1st Team Selected</li>
                </ul>
            </div>

            <div class="competition-card">
                <div class="competition-header">
                    <p class="competition-name">FiT-North Area Championship</p>
                    <p class="middle-dot">·</p>
                    <p class="competition-date">02/24/24</p>
                </div>

                <p class="competition-subtitle">Description</p>

                <p class="competition-description">We won our first match [But Expansion and Control hubs were tweaking the whole time :( ]. We ended at Rank 37 of 41, and did not get picked for playoffs. We won 1 award and advanced to the Texas State Championship.</p>

                <p class="competition-subtitle">Awards</p>

                <ul class="competition-awards">
                    <li>Innovate Award sponsored by RTX 2nd Place</li>
                </ul>
            </div>

            <div class="competition-card">
                <div class="competition-header">
                    <p class="competition-name">Texas FTC State Championship - Johnson Division</p>
                    <p class="middle-dot">·</p>
                    <p class="competition-date">03/21/24 - 03/23/24</p>
                </div>

                <p class="competition-subtitle">Description</p>

                <p class="competition-description">We got 3 wins and got Rank 12 of 36 going into playoffs. We were the 1st Team Selected by Rank 4 Team 16226. We got 2 wins in the Semi-Finals and 1 win in the Finals. We won 1 award, but did not advance to the State Finals nor the World Championship.</p>

                <p class="competition-subtitle">Awards</p>

                <ul class="competition-awards">
                    <li>Johnson Division Finalist Alliance - 1st Team Selected</li>
                </ul>
            </div>

            <div class="competition-card">
                <div class="competition-header">
                    <p class="competition-name">Buc Days 2024 Robotics Rodeo (Off-season Tournament)</p>
                    <p class="middle-dot">·</p>
                    <p class="competition-date">05/04/24</p>
                </div>

                <p class="competition-subtitle">Description</p>

                <p class="competition-description">We got 4 wins and were Rank 8 of 41 going into playoffs. We were the st Team Selected by Rank 3 Team 16458. We got 2 wins in the Semi-Finals and 1 win in the Finals. We won 1 award.</p>

                <p class="competition-subtitle">Awards</p>

                <ul class="competition-awards">
                    <li>Finalist Alliance - 1st Team Selected</li>
                </ul>
            </div>


            </div>
        </div>

    </div>
</body>

{% endblock %}